<html>
    <head>
     <title>Login and Registration form</title>
     <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
     <div class="loginbox">
           <center><img src="/images/logo.jpg"></center>
        <h1>Login Form </h1>
        <form action="/user/login" method="POST">
            <p> username</p><br>
            <input type="text" name="user" id="user" placeholder="username" autocomplete="off">
            <br>
            <p>password</p><br>
            <input type="password" name="password" id="password" placeholder="****" autocomplete="off">
            <br>
            <input type="submit" name="" value="Login">
            <a href="/user/signup">New Member!</a><br>
           </form>
     </div>
    </body>
</html>
