
<h1 class="text-center text-success>Welcome <%= user.name %></h1>











<footer>
    <p>If you want to end your session then click the button down below.</p>
<a href="/users/logout" class="btn btn-success">Logout</a>
</footer>